.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 640px;
    background: #ffffff;
    border:2px solid #ffffff;
}